{% extends 'layout.html' %} 
{% load static %} 
{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css' %}" />
{%endblock css_files %} 
{% block title %} Kurslar {% endblock title %} 
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <!--MENU-->
      {% include 'courses/partials/_categories.html' %}
    </div>

    <!--CONTENT-->
    <div class="col-9">
      {% include "courses/partials/_slider.html" %}

      {% if courses|length == 0 %}
      <figure class="text-center text-danger bg-black">
        <blockquote class="blockquote">
          <p>Ben bu kursu yapana kadar beklemede kalcan kanka.</p>
        </blockquote>
        <figcaption class="blockquote-footer">Etoboi</figcaption>
      </figure>
      {% endif %} 
      {% for course in courses%} 
        {% include 'courses/partials/_course.html' %} 
      {% endfor page_obj.object_list %}

    
      {% comment %} {% include "courses/partials/_pagination.html" %} {% endcomment %}
      

    </div>
  </div>
</div>

{% endblock content %} 
{% block js_files %}
<script src="{% static 'courses/js/script.js' %}"></script>
{% endblock js_files %}
