{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kurs App | {% block title %}{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap_min.css' %}"
      integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block css_files %}{% endblock css_files %}


  </head>
  <body>
    
    <!--NAVBAR-->
    {% include 'partials/_nav.html' %}


    {% block content %} {% endblock content %}
    <!--MENU VE CONTENT-->
    
    <script
      src="{% static 'js/bootstrap_min.js' %}"
      integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    {% block js_files %}{% endblock js_files %}

  </body>
</html>
